In [1]:
#EXERCISE 2.1[a]
a=(1+2+3+4+5)
print(a)

#(b)
sara=23
mark=19
fatima=31
avg=((sara+mark+mark)/3)
print(avg)
#c
a=73
b=403
c=403//73
print(c)
#d
a=73
b=403
c=403/73
print(c)
#e
a=2**10
print(a)
#f
height_of_sara=54
height_of_mark=57
d=(height_of_mark-height_of_sara)
print(d)
#g
a=34.99#in dollars
b=29.95#in dollars
c=31.50#in dollars
min(a,b,c)

15
20.333333333333332
5
5.52054794520548
1024
3

29.95

In [2]:
#exercise 2.4
s1=('ant')
s2=('bat')
s3=('cod')
S=(s1+s2+s3)
print(S)
S1=(s1,s2,s3)*1
print(S1)
s1=('ant')*10
print(s1)
a=('ant')
print(a+a+a+a+a+a+a+a+a+a)
s1=('ant')*1
s2=('bat')*2
s3=('cod')*3
print(s1,s2,s3)
a=(s1+s2+s2+s3+s3+s3)
print(a)
s=('ant','bad')*7
print(s)
a=(s1+s1+s1+s1+s1+s1+s1+s2+s2+s2+s2+s2+s2+s2)
s=('batbatcod')*5
print(s)
a=((s2*2)+s3)+((s2*2)+s3)+((s2*2)+s3)+((s2*2)+s3)+((s2*2)+s3)
print(a)

antbatcod
('ant', 'bat', 'cod')
antantantantantantantantantant
antantantantantantantantantant
ant batbat codcodcod
antbatbatbatbatcodcodcodcodcodcodcodcodcod
('ant', 'bad', 'ant', 'bad', 'ant', 'bad', 'ant', 'bad', 'ant', 'bad', 'ant', 'bad', 'ant', 'bad')
batbatcodbatbatcodbatbatcodbatbatcodbatbatcod
batbatbatbatcodcodcodbatbatbatbatcodcodcodbatbatbatbatcodcodcodbatbatbatbatcodcodcodbatbatbatbatcodcodcod

In [3]:
#exercise 2.3
a=3
b=4
c=(a*a)+(b*b)
print(c)

25

In [4]:
#exercise 2.2(a)
a=2
b=2
sum=a+b
if sum<4:
    print('true')
else:
    print('false')
#(b)
a=7//3
if a==2:
    print('true')
else:
    print('false')
#(c)
a=3**2
b=4**2
sum=(a+b)
if sum==25:
    print('true')
else:
    print('false')
#(d)
a=2
b=4
c=6
sum=(a+b+c)
if sum>12:
    print('true')
else:
    print('false')
#(e)
a=1387
b=19
c=a+b
if c==a+b:
    print('true')
else:
    print('false')
#(f)
a=31
if a==31/2:
    print('true')
else:
    print('false')
#(g)
a=34.99#in dollars
b=29.95#in dollars
c=31.50#in dollars
min(a,b,c,)
if min(a,b,c)<30:
    print('true')
else:
    print('false')

false
true
true
false
true
false
true

In [5]:
#exercise 2.5(a)(b)(c)(d)(e)
a=("0123456789")
a[0]
print(a[0]+a[1]+a[6]+a[8]+a[9])

01689

In [6]:
#exercise 2.6
words={'bat','ball','barn','basket','badminton'}
(words)

{'badminton', 'ball', 'barn', 'basket', 'bat'}

In [7]:
#exercise 2.7
grades=[9,7,7,10,3,9,6,6,2]
#(a)
a=grades.count(7)
print(a)
#(b)
a=grades[-1]=4
print(a)
#(c)
a=max(grades)
print(a)
#d
a=grades.sort()
print(a)
#e
import statistics
print(statistics.mean(grades))

2
4
10
None
6.777777777777778

In [8]:
#exercise 2.9
a=False+False
print(type(a))
(b)
b=2*3**2.0
print(type(b))
(c)
c=4//2+4%2
print(type(c))
d=2+3==4 or 5 >=5
print(type(d))

<class 'int'>
<class 'float'>
<class 'int'>
<class 'bool'>

In [9]:
#exercise 2.10(a)
a=2
b=2
c=a**2+b**2
print(c)
(b)
if c==5:
    print('true')
else:
    print('false')
(c)
from math import pi
r=3
area=pi*r**2
print(str(area)+'m^2')
(d)
# D
r=10
x=2
y=1
a=x+y==r
b=x**2+y**2==r**2
print(a)
print(b)

8
false
28.274333882308138m^2
False
False

In [10]:
#exercise 2.8
print('a)','((2+3) ==4) or (a >=5)')
print('b)','(((lst[1]) * (-3)) <(-10)) ==0')
print('c)',"(((lst[1]) * (-3)) <(-10)) in [0,true]")
print('d)','2 * (3**2)')
print('e)','(4/2) in [1,2,3]')

a) ((2+3) ==4) or (a >=5)
b) (((lst[1]) * (-3)) <(-10)) ==0
c) (((lst[1]) * (-3)) <(-10)) in [0,true]
d) 2 * (3**2)
e) (4/2) in [1,2,3]

In [11]:
#exercises 2.11


lst =[-7-6-5-4-3-2-1]
print(lst)
average_age = 9*17+24*10+21*11+27*12
x = average1 = average_age/17+24+21+27
print(average1)
a = 2**-20
print(a)
b = 4356//61
print(b)
c = 4365%61 
print(c)

[-28]
127.76470588235294
9.5367431640625e-07
71
34

In [12]:
#exercise 2.12
a = '+'
b = '-'
print(a+b)
print(b+a+b)
print(a+b+b)
print(a+b+b+a+b+b)
print(a+b+b+a+b+b+a+b+b+a+b+b+a+b+b)

+-
-+-
+--
+--+--
+--+--+--+--+--

In [13]:
#exercise 2.13
s = 'abcdefghijklmnopqrstuvwxyz'
print(s[0])
print(s[2])
print(s[24])
print(s[25])
print(s[16])

a
c
y
z
q

In [14]:
#Exercise number 2.14
s = 'goodbye'
print(s[0]=='g')
print(s[6]=='g')
print(s[0]=='g' and s[1]=='a')
print(s[-2]=='x')
print(s[3]=='d')
print(s[0]==s[1])
print(s[1]+s[2]+s[3]+s[4]=='tion')

True
False
False
False
True
False
False

In [15]:
#Exercise number 2.15
a = 'anachronistically'
b = 'counterintutive'
print("number of characters : "+str(len(a)))
print("the number of characters : "+str(len(b)))

dictionary = ['misrepresentation','mis interpretation' ]
dictionary.sort()
print("\dictionary gives the word in yhis order")
print(dictionary)
word = 'ﬂoccinaucinihilipiliﬁcation'
print("the number of time e repeates in is "+str(word))
word1 = 'counterrevolution'
word2 = 'resolution'
print("the number of characters are : " +str(len(word1)))
print("the number of characters arev : "+str(len(word2)))

number of characters : 17
the number of characters : 15
\dictionary gives the word in yhis order
['mis interpretation', 'misrepresentation']
the number of time e repeates in is ﬂoccinaucinihilipiliﬁcation
the number of characters are : 17
the number of characters arev : 10

In [16]:
#Exercise no 2.16
a,b =6,7
c = (a+b)/2
inventory = ["paper","staples","pencils"]
first, middle, last = "John","'Fitzgerald","kennedy"
fullname = first+" "+middle+" "+last
print(fullname)

John 'Fitzgerald kennedy

In [17]:
#exercise 2.17

a=7-9 < 10
print(a)
b=len(inventory) > 5*len(fullname)
print(b)
c=c <= 24
print(c)
d=(6.75 < a and 6.75 > b) or (6.75 < b and 6.75 > a)
print(d)
e=len(middle) > len(first) and len(middle) < len(last)
print(e)
f=len(inventory)==0 or len(inventory) > 10
print(f)

True
False
True
False
False
False

In [18]:
#Exercise no 2.18
flowers = ['rose','bougainvillea','yucca','marigold','daylilly','liiy of the valley']
print('a)',flowers)
print('b)','potato' in flowers)
thorny=flowers[:3]
print('c)',thorny)
poisnous = flowers[-1]
print('d)',poisnous)
dangerous = [thorny] + [poisnous]

a) ['rose', 'bougainvillea', 'yucca', 'marigold', 'daylilly', 'liiy of the valley']
b) False
c) ['rose', 'bougainvillea', 'yucca']
d) liiy of the valley

In [19]:
#exercise no 2.19
answers = ['Y','N','N','Y','N','Y','Y','Y','N','N','N']
numYes=answers.count('y')
print('a)',numYes)
numNo=answers.count('N')
print('b)',numNo)
percentYes=(numYes/len(answers))*100
print('c)',percentYes,'%')
answers.sort()
print('d)',answers)
f=answers.count('N')
print('e)',"at",f,answers[f],"will occur for the first time")

a) 0
b) 6
c) 0.0 %
d) ['N', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y']
e) at 6 Y will occur for the first time

In [20]:
#execise no 2.21
s = 'Ali'
t = 'osama'
print(s[0]+t[0])

Ao

In [21]:
#2.22
lst = [3,7,-2,12]
print(max(lst)-min(lst))

14

In [22]:
#exercise 2.20
s='pot'
print(s[::-1])

top

In [23]:
#insert 'Apr' between 'Mar' and 'May'
monthsL=['Jan','Feb','Mar','May']
monthsT=['Jan','Feb','Mar','May']
monthsT.insert(3,"Apr")
print(monthsT)
#append string 'Jun'
monthsL=['Jan','Feb','Mar','May']
monthsT=['Jan','Feb','Mar','May']
monthsT.append("Jun")
print(monthsT)
#pop the container
monthsL=['Jan','Feb','Mar','May']
monthsT=['Jan','Feb','Mar','May']
monthsL.pop()
monthsT.pop()
print(monthsL)
print(monthsT)
#remove the second item in the container
monthsL=['Jan','Feb','Mar','May']
monthsT=['Jan','Feb','Mar','May']
del monthsT[2]
del monthsL[2]
print(monthsT)
print(monthsL)
#reverse the order of the container
monthsL=['Jan','Feb','Mar','May']
monthsT=['Jan','Feb','Mar','May']
monthsL.reverse()
monthsT.reverse()
print(monthsL)
print(monthsT)
#sort the container
monthsL=['Jan','Feb','Mar','May']
monthsT=['Jan','Feb','Mar','May']
monthsL.sort()
monthsT.sort()
print(monthsL)
print(monthsT)

['Jan', 'Feb', 'Mar', 'Apr', 'May']
['Jan', 'Feb', 'Mar', 'May', 'Jun']
['Jan', 'Feb', 'Mar']
['Jan', 'Feb', 'Mar']
['Jan', 'Feb', 'May']
['Jan', 'Feb', 'May']
['May', 'Mar', 'Feb', 'Jan']
['May', 'Mar', 'Feb', 'Jan']
['Feb', 'Jan', 'Mar', 'May']
['Feb', 'Jan', 'Mar', 'May']

In [25]:
import math
hyp = float(input("Enter Length of the Ladder : "))
theta = float(input("Enter Angle of the Ladder : "))
rad = math.pi * (theta)/180
perp = hyp * math.sin(rad)
print ("The height of the Ladder is :", perp)

# A
length1=16
degrees1=75
radians1=(3.142*degrees1)/180
print(radians1)

# B
length2=20
degrees2=0
radians2=(3.142*degrees2)/180
print(radians2)

# C
length3=24
degrees3=45
radians3=(3.142*degrees3)/180
print(radians3)

# D
length4=24
degrees4=80
radians4=(3.142*degrees4)/180
print(radians4)

Enter Length of the Ladder : 7
Enter Angle of the Ladder : 4
The height of the Ladder is : 0.4882953162088771
1.3091666666666666
0.0
0.7855
1.3964444444444444

In [26]:
# A
list=['1','2','3','4','5']
print(list.index('3'))

# B
print(list[2])

# C
list.sort(reverse=True)
print(list)

# D
list.remove(list[0])
list.insert(4,'1')
print(list)

2
3
['5', '4', '3', '2', '1']
['4', '3', '2', '1', '1']

In [27]:
lst=[2,3,4]
lst.extend([5,6])
lst
[2,3,4,5,6]
lst2=lst.copy()
lst2
[2,3,4,5,6]
lst.clear()
lst
[]
lst2
[2,3,4,5,6]

[2, 3, 4, 5, 6]

In [28]:
# A
a=0==(1==2)
print(a)

# B
b=2+(3==4)+5==7
print(b)

# C
c=(1<-1)==(3>4)
print(c)

True
True
True